## 2.2数据预处理

### 2.2.1 生成数据集文件

In [1]:
import os
os.makedirs(os.path.join('..','data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

创建CSV文件：房价数据-房间数量/巷子类型/价格

In [3]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

运用pandas库读取csv

### 2.2.2 补充丢失数据

补充丢失数据的典型方法是插值法和删除法

- 插值法：用一个数字替代缺失位
- 删除法：直接忽略缺少的数据

In [4]:
inputs, outputs = data.iloc[:,0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

在补充房间数，使用插值法，通过插入已知数的平均值补充未知数，`input.mean()`读取数据平均数

In [5]:
inputs = pd.get_dummies(inputs,dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

在补充巷子时，看成是有Pave为1，无为0的矩阵形式

### 2.2.3 转化为张量形式

In [6]:
import torch

x = torch.tensor(inputs.values)
y = torch.tensor(outputs.values)

x,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

利用`tensor()`构造张量

### 实例：删除空数据最多的一列

In [7]:
count = 0
count_max = 0
labels = ['NumRooms','Alley','Price']
for label in labels:
    count = data[label].isna().sum()
    if count > count_max:
        count_max = count
        flag = label
data_new = data.drop(flag,axis=1)
data_new

   NumRooms   Price
0       NaN  127500
1       2.0  106000
2       4.0  178100
3       NaN  140000